name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - .github/workflows/upload-releases.yml
  schedule:
    - cron: '30 6 * * *'

concurrency:
  # Concurrency group that uses the workflow name and PR number if available
  # or commit SHA as a fallback. If a new build is triggered under that
  # concurrency group while a previous build is running it will be canceled.
  # Repeated pushes to a PR will cancel all previous builds, while multiple
  # merges to main will not cancel.
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build_recipe:
    name: Build conda recipe (${{ matrix.subdir }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            subdir: linux-64
          - os: macos-15-intel  # FUTURE: Deprecated in Fall 2027
            subdir: osx-64
          - os: macos-latest
            subdir: osx-arm64
          - os: windows-latest
            subdir: win-64
    env:
      PYTHONUNBUFFERED: "1"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        with:
          auto-activate-base: true
          activate-environment: "test"
          run-post: false

      - name: Install dependencies
        shell: bash -el {0}
        run: conda install -y "conda-build!=3.28.0,!=3.28.1" anaconda-client

      - name: Debugging information
        run: |
          conda info
          conda config --show-sources
          conda list
        shell: bash -el {0}


      - name: Shorten PATH
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          $paths = $env:PATH -split ';'
          $filtered = $paths | Where-Object {
              $_ -notlike '*Microsoft SQL Server*' -and
              $_ -notlike '*Amazon*' -and
              $_ -notlike '*Strawberry*'
          }
          $newPath = $filtered -join ';'
          "PATH=$newPath" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        shell: pwsh

      - name: Build recipe
        shell: bash -el {0}
        env:
          CONDA_BLD_PATH: ${{ runner.temp }}/bld
        run: conda build recipe --override-channels -c conda-forge

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: github.event_name == 'pull_request'
        with:
          name: conda-standalone-${{ matrix.subdir }}
          path: ${{ runner.temp }}/bld/${{ matrix.subdir }}/conda-standalone-*.*

      - name: Upload package to anaconda.org
        shell: bash -el {0}
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          CONDA_BLD_PATH: ${{ runner.temp }}/bld
          CONDA_VERBOSE: 3
          ANACONDA_ORG_TOKEN: ${{ secrets.ANACONDA_ORG_CONDA_CANARY_TOKEN }}
          ANACONDA_ORG_CHANNEL: conda-canary
          ANACONDA_ORG_LABEL: dev
        run: |
          anaconda \
            --token="${ANACONDA_ORG_TOKEN}" \
            upload \
            --force \
            --register \
            --no-progress \
            --user="${ANACONDA_ORG_CHANNEL}" \
            --label="${ANACONDA_ORG_LABEL}" \
            ${CONDA_BLD_PATH}/${{ matrix.subdir }}/conda-standalone-*.*
          echo "Uploaded the following files:"
          basename -a ${CONDA_BLD_PATH}/${{ matrix.subdir }}/conda-standalone-*.*

          echo "Use this command to try out the build:"
          echo "  conda install -c ${ANACONDA_ORG_CHANNEL}/label/${ANACONDA_ORG_LABEL} conda-standalone"
